<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Desc</th>
    <th>Image filename</th>
    <th>Image contenttype</th>
    <th>Image filesize</th>
    <th>Image updated</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.name %></td>
    <td><%= organization.url %></td>
    <td><%= organization.desc %></td>
    <td><%= organization.image_filename %></td>
    <td><%= organization.image_contenttype %></td>
    <td><%= organization.image_filesize %></td>
    <td><%= organization.image_updated %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization', new_organization_path %>
